<div class="outer">
    <div class="corner">
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <button class="button" mat-raised-button (click)="openFile()">
            Upload
            <input class="input" #file type="file" accept='image/*' (change)="preview(file.files)" />
        </button>

        <button style="margin-left: 0.2rem;" class="button" mat-raised-button (click)="sendFile()">
            Predict
        </button>
    </div>
    <div class="inner">
        <div class="imageContainer">
            <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>
    </div>
</div>