.outer {
    display: inline-block;
    width: 100%;
    height: 100%;
    align-items: center;
   
    .corner {
        margin-top: 4rem;
        margin-left: 25vw;
        margin-bottom: 0.5rem;
    
        .button {
            width: 100px;
            .input {
                display: none;
            }
        }
    }

    .inner {
        margin: 0 auto;
        border: 1px solid black;
        width: 50vw;
        height: 30vw;
        position: relative;

        .imageContainer {
            
            img {
                width: 50vw;
                height: 30vw;
            }
        }
    }
}

