main {
  width: 100%;
  height: 100%;
  display: flex;
}
.container-table {
  display: flex;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  align-self: center;
}
table {
  width: 100%;
  height: 100%;
}
mat-checkbox {
  margin-right: 1rem;
}
