

<main>
  <div class="container-table">
    <table mat-table [dataSource]="tables" class="mat-elevation-z8">
      <ng-container matColumnDef="dessert">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="fat">
        <th mat-header-cell *matHeaderCellDef> Prediction </th>
        <td mat-cell *matCellDef="let element"> {{element.Result}} </td>
      </ng-container>

      <ng-container matColumnDef="carbs">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.Size | fileSize}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</main>