$colorLeft: #4258cb;
$colorRight: #c851be;

#body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, $colorLeft 45%, $colorRight);
    justify-content: center;
    display: flex;
}

.innerBody {
    width: 75%;
    height: 75%;
    margin: 0 auto;
    align-self: center;
    border-radius: 15px;
    background: white;

    .first {
        background: white;
        float: left;
        height: 100%;
        width: 50%;
        border-radius: 15px;
        display: flex;
        align-items: center;

        .img {
            width: 15vw;
            height: 15vw;
            margin: 0 auto;
            border-radius: 90%;

            .avatar {
                width: 100%;
                height: 100%;
            }
        }
    }

    .second {
    
        box-sizing: border-box;
        background: white;
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 15px;
        display: flex;
        align-items: center;

        .box {
            width: 50%;
          margin: 0 auto;
          background: white;
          color:black;
          box-shadow: none;
        
        }
    }
}

.loginButton{
    width: 100%;
    margin-top: 25px;
}

.input-container{
    display: flex;
    width: 100%;
    background: #f2f2f2;
    margin-top: 25px;
    border-radius: 1rem;
}

.full-width-field{
    border: none;
    height: 2rem;
    outline: none;
    background: #f2f2f2;
    border-radius: 0 1rem 1rem 0;
    width: 100% !important;
}

.icon{
    padding: 10px;
}

.box  mat-card-header{
    margin: 0 auto;
}

button{
    border-radius: 1rem;
}

.loginButton{
    background-color: green;
    color: white;
}

.user-login{
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    display:flex;
    align-items: center;
}

.user-login h1{
    font-size: 2rem;
    font-weight: bold;
}
.card-action-bottom a:link{
    color:grey;
    text-decoration: none;
}

.card-action-bottom a:hover{
    color:green;
    text-decoration: none;
}

.card-action-bottom a:visited{
    color:grey;
    text-decoration: none;
}

.form-text {
    padding: 15px;
    color: red;
}