<div id="body">
    <div class="innerBody">
        <div class="first">
            <div class="img mat-elevation-z24">
                <img class="avatar" [src]=avatar>
            </div>
        </div>
        <div class="second">
            <mat-card fxLayoutAlign="center" class="box">
                <mat-card-content>
                    <div class="user-login">
                        <h1>User Login</h1>
                    </div>
                    <form [formGroup]="loginForm" class="example-form" (ngSubmit) = "onSubmit()">
                        <div class="input-container">
                            <i class="fa fa-envelope icon"></i>
                            <input type="email" placeholder="Email Id" class="full-width-field" formControlName="email">
                        </div>
                        <small class="form-text text-muted"
                            *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                            Please enter your email address!
                        </small>
                        <small class="form-text text-muted"
                            *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
                            Email address not well typed!
                        </small>
                        <div class="input-container">
                            <i class="fa fa-lock icon"></i>
                            <input type="password" placeholder="Password" class="full-width-field"
                                formControlName="password">
                        </div>
                        <small class="form-text text-muted"
                            *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
                            Please enter your password!
                        </small>
                        <button mat-stroked-button color="accent" class="loginButton" type="submit"
                            [disabled]="!loginForm.valid" >Log in</button>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div class="user-login card-action-bottom">
                        <a href='#'>Forgot Username/ Password?</a>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>