a  {
  margin-right: 25px;
  text-decoration: none;
  font-size: 18px;
  color:black 
}

a:visited{
  color: white;
}

a:active{
  color: #c851be;
}

a:focus{
  color: #c851be;
}

.logoutButton {
  right: 0px;
  position: absolute;
  color: white;
}


.logoutButton :hover {
  color : #c851be !important
}
