<mat-toolbar *ngIf="header.events">
    <a routerLink="/table"> Table</a>
    <a routerLink="/image"> Add Image</a>
    <a routerLink='/' class="logoutButton" (click) = "logoutButton()">Log Out</a>
</mat-toolbar>
